.row {
  margin: 5px;
}

#teamTable {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#teamTable td,
#teamTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#teamTable {
  background-color: #f2f2f2;
}

#teamTable tr:hover {
  background-color: #ddd;
}

#teamTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}
