.heading {
  color: white;
  font-size: 4rem;
  text-align: center;
  padding-top: 25px;
  /* background-color: grey; */
}

.login-form {
  text-align: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}
